#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;

    span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;

        &:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        &:nth-of-type(2) {
            opacity: 0;
        }

        &:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }

        &:first-of-type,
        &:nth-of-type(2),
        &:last-of-type {
            @media (max-width:768px) {
                transform: none;
                opacity: 1;
                margin: 5px auto;
            }
        }
    }

    &.active {
        span {
            transform: none;
            opacity: 1;
            margin: 5px auto;

            @media (max-width:768px) {
                margin: 0 auto;

                &:first-of-type {
                    transform: rotate(45deg) translate(2px, 2px);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:last-of-type {
                    transform: rotate(-45deg) translate(1px, -1px);
                }
            }
        }
    }
}