.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #7386D5;
        color: #fff;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        transform-origin: bottom left;

        @media (max-width: 768px) {
            margin-left: -250px;
            transform: rotateY(90deg);
        }

        &.active {
            margin-left: -250px;
            transform: rotateY(100deg);

            @media (max-width: 768px) {
                margin-left: 0;
                transform: none;
            }
        }

        .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
        }

        ul {

            &.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            &.CTAs {
                padding: 20px;

                a {
                    text-align: center;
                    font-size: 0.9em !important;
                    display: block;
                    border-radius: 5px;
                    margin-bottom: 5px;
                }
            }

            p {
                color: #fff;
                padding: 10px;
            }

            li {

                a {
                    padding: 10px;
                    font-size: 1.1em;
                    display: block;

                    &:hover {
                        color: #7386D5;
                        background: #fff;
                    }
                }

                &.active {

                    & > a, a[aria-expanded="true"] {
                        color: #fff;
                        background: #6d7fcc;
                    }
                }
            }

            ul a {
                font-size: 0.9em !important;
                padding-left: 30px !important;
                background: #6d7fcc;
            }
        }

        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }

        a {
            &[data-toggle="collapse"] {
                position: relative;
            }

            &.download {

                background: #fff;
                color: #7386D5;

                &.article, &.article:hover {
                    background: #6d7fcc !important;
                    color: #fff !important;
                }
            }
        }
    }
}